<%- include('includes/head') %>

  <section class="container">
    <h1>  
      <%# conteudo comenado %>
      <%# = titulo %> <br />  <!--Neste formado ele escapa os caracteres-->
      <%# - titulo %>  <!-- Aqui o html e css é respeitado! Um escapa, o outro executa! -->
      
      <!-- Controle de fluxo-->
      <%# if(typeof titulo !== 'undefined'){ %>
        <%# = titulo %>
      <%# }else{ %>
        O título não foi enviado!
      <%# } %>

      <!-- Array-->
      <%# numeros.forEach(num => { %>
        <%# = num %> <br />
      <%# }) %>
    </h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente" />
      <button>Submit</button>
    </form>
  </section>

<%- include('includes/footer') %>